.text-panel {
  width: 500px;
  margin: auto;
}

.text-input {
  textarea {
    width: 100%;
    height: 200px;

    // Fix overflow
    // https://stackoverflow.com/a/4156343/7134763
    box-sizing: border-box;
  }

  input[type="submit"] {
    display: block;
    margin: auto;
  }
}

.text-items {
  margin: auto;
}

.text-item {
  text-align: left;

  .delete-btn {
    margin-right: 10px;
    color: red;
  }
}

@media (max-width: 768px) {
  .text-panel {
    width: 90%;
  }
}
